@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Expletus Sans'), local('ExpletusSans'), url('gegTSDBDs5le3g6uxU1ZsXt9r5m2YmP5sw3cUAQwL0E.woff') format('woff');
}
