{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2 class="year">{{ year }}</h2>
{% endunless %}

{% capture category %}{{ post.categories | size }}{% endcapture %}
<div class="post-line">
  <h1><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
  <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
</div>
